* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #17315a;
  color: white;
  position: relative;
  width: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height: 10vh;
  background-color: #17315a;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.floating {
  height: 8vh;
  box-shadow: 0 1px 10px #051020;
}

.nav-elem {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: none;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
}

.nav-links a:hover {
  color: #fe3e57;
  transition: all 0.5s;
}

#logo {
  font-size: 1.5rem;
}

#logo span {
  color: #fe3e57;
}

#logo a {
  text-decoration: none;
}

#logo h3 {
  text-decoration: none;
  color: white;
}

.line {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.5s;
}

.burger {
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  margin: auto;
}

footer {
  min-height: 20vh;
  background: #131d2c;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  width: 40%;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 20px;
  justify-content: space-between;
}

.footer-icons i {
  color: white;
  font-size: 1.5rem;
}

.footer-icons i:hover {
  color: #fe3e57;
  transition: all 0.5s;
}

.copyright {
  margin-top: 20px;
  font-size: 1rem;
}

.footer p {
  margin-top: 20px;
  font-size: 1rem;
}

.contact {
  background: #0d2244;
  min-height: 100vh;
  display: block;
}

.contact h1 {
  text-align: center;
  margin: auto;
  font-size: 3.5rem;
  color: #fe3e57;
  width: 100%;
  /* padding-top: 10%; */
}

.main-contact {
  align-items: center;
  padding: 10%;
  margin: auto;
  justify-content: center;
  display: block;
}

.contact-wrapper {
  margin-top: 3rem;
  display: flex;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.contact-img {
  margin-left: 30px;
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-me {
  display: flex;
  margin: auto;
  height: 80%;
  width: 100%;
}

.input {
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
  color: white;
  font-size: 1rem;
  justify-content: center;
  margin-top: 30px;
  height: 4rem;
  background-color: #294572;
  border: none;
  border-radius: 5px;
}

#message {
  height: 8rem;
  resize: vertical;
  padding-top: 20px;
}

.submit {
  width: 180px;
  height: 55px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #fe3e57;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
}

.submit:hover {
  color: #fe3e57;
  background-color: white;
  transition: all 0.5s;
}

.form-head span {
  color: #fe3e57;
}

.bubble {
  position: absolute;
}

.to-top {
  background: white;
  position: fixed;
  display: flex;
  color: #fe3e57;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.to-top.active {
  bottom: 20px;
  pointer-events: auto;
  opacity: 1;
}

.home {
  height: 100vh;
}

.main-home {
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.main {
  display: block;
  width: 100%;
}

.buttons {
  display: flex;
}

.CV-btn {
  width: 180px;
  height: 55px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #fe3e57;
  margin-top: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
}

.CV-btn:hover {
  color: #fe3e57;
  background-color: white;
  transition: all 0.5s;
}

.divider {
  width: 5px;
  height: auto;
}

.about-btn {
  width: 180px;
  height: 55px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #294572;
  margin-top: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
}

.about-btn:hover {
  color: #294572;
  background-color: white;
  transition: all 0.5s;
}

.home h3 {
  color: white;
  margin-top: 1.3%;
  font-weight: 600;
  font-size: 3.5rem;
}

.home h2 {
  color: white;
  margin-top: 1.3%;
  font-size: 2rem;
}

.home h1 {
  color: white;
  margin-top: 1.3%;
  font-size: 2rem;
}

.home span {
  color: #fe3e57;
}

.img {
  display: block;
  width: 100%;
  margin: auto;
}

.welcome_img {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}

.about {
  min-height: 100vh;
  background: #0d2244;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-about {
  display: flex;
  min-height: 100vh;
  padding: 10%;
}

.about-img {
  flex-basis: 30%;
  height: 100%;
  justify-content: center;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.about-text {
  margin-left: 5%;
  flex-basis: 60%;
  height: 100%;
}

.about-text h1 {
  margin-top: 3%;
  margin-bottom: 1.3%;
  font-size: 3.5rem;
  /* font-weight: bolder; */
  color: #fe3e57;
}

.about-me {
  margin-bottom: 1.3%;
  width: 100%;
  font-size: 1.5rem;
  text-align: justify;
  color: #d6d9e0;
  line-height: 3rem;
}

.projects {
  min-height: 100vh;
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  display: block;
}

.projects h1,
.projects h2 {
  text-align: center;
}

.projects h1 {
  font-size: 3.5rem;
  color: #fe3e57;
}

.projects h2 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.projects h4 {
  font-size: 1rem;
}

.projects h5 {
  font-size: 1rem;
  font-weight: 500;
}

.works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(399px, 1fr));
  gap: 30px;
  margin-top: 6rem;
  width: 100%;
}

.project-card {
  justify-self: stretch;
  /* display: block; */
  position: relative;
  overflow: hidden;
}

.always-vis {
  display: block;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.project-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.card-content {
  background-color: #23406b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #051020;
}

.project-card:hover .overlay {
  opacity: 0.97;
}

.project-links i {
  color: #fe3e57;
  font-size: 1rem;
  margin-top: 40px;
  -webkit-tap-highlight-color: transparent;
  font-size: 2rem;
}

.project-links i:hover {
  color: white;
  transition: all 0.5s;
}

.project-links a:visited {
  text-decoration: transparent;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  text-align: center;
}

.card-content h4,
.card-content h5 {
  text-align: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.view-more {
  width: 180px;
  height: 55px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #fe3e57;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
}

.view-more:hover {
  color: #fe3e57;
  background-color: white;
  transition: all 0.5s;
}

#view-more-tabs {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1500px) {
  .main h3 {
    font-size: 2rem;
  }

  .main h2 {
    font-size: 1.5rem;
  }

  .main h1 {
    font-size: 1.5rem;
  }

  .about-img img {
    min-width: 300px;
    min-height: 400px;
    max-width: 700px;
    max-height: 700px;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
  }

  .about p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 970px) {
  .burger {
    display: block;
    z-index: 2;
  }
  .burger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger.open div:nth-child(2) {
    opacity: 0;
  }
  .burger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-elem {
    opacity: 0;
    display: none;
    background-color: #131d2c;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all 1s ease;
  }

  .nav-visible {
    display: flex;
    transition: opacity 1s ease-out;
    opacity: 1;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links a {
    font-size: 3rem;
  }

  .nav-links li {
    margin: 40px;
  }

  .to-top {
    height: 40px;
    width: 40px;
  }

  .home {
    display: block;
  }

  .buttons {
    justify-content: center;
    margin-top: 2%;
  }

  .main-home {
    flex-direction: column-reverse;
    text-align: center;
    height: 90%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .main {
    line-height: 2rem;
    margin-top: 10%;
  }

  .img {
    height: 50%;
    margin: 0;
  }

  .main h1 {
    font-size: 20px;
  }

  .main h3 {
    font-size: 27px;
  }

  .main h2 {
    font-size: 20px;
  }

  .CV-btn {
    height: 48px;
    width: 150px;
  }

  .about-btn {
    height: 48px;
    width: 150px;
  }

  .welcome_img {
    margin-top: 10%;
  }

  .about {
    flex-direction: column;
    width: 100%;
  }

  .main-about {
    flex-direction: column;
    padding-top: 10%;
  }

  .about-text h1 {
    text-align: center;
    font-size: 6vw;
  }

  .about-text p {
    margin-left: 0;
    text-align: center;
    font-size: 3.2vw;
    line-height: 2rem;
  }

  .about-img {
    margin: auto;
  }

  .about-img img {
    min-width: 50px;
    min-height: 50px;
    max-width: 500px;
    max-height: 500px;
    width: 70vw;
    height: 70vw;
    object-fit: cover;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-img {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    padding-top: 20%;
  }

  .main-about {
    padding-top: 20%;
    padding-bottom: 0;
  }

  .about-text h1 {
    font-size: 8vw;
    margin-top: 4%;
  }

  .about-text p {
    font-size: 4vw;
    line-height: 2rem;
  }

  .about-img {
    margin: 0 auto;
  }

  .main-about {
    padding-top: 40%;
  }

  .all-works {
    grid-template-columns: 1fr;
    margin-top: 5%;
  }

  .projects {
    padding-top: 40%;
    /* min-height: auto; */
  }

  .projects h1 {
    font-size: 3rem;
  }

  .projects h2 {
    font-size: 1.7rem;
  }

  .submit {
    width: 100%;
  }

  .main-contact {
    padding-top: 20%;
  }
}

@media screen and (max-width: 350px) {
  #logo {
    font-size: 1rem;
  }

  .main h3 {
    font-size: 1.5rem;
  }

  .main h2 {
    font-size: 1rem;
  }

  .main h1 {
    font-size: 1rem;
  }

  .main-about {
    padding-top: 60%;
  }

  .about-text p {
    font-size: 6vw;
    line-height: 3vh;
  }

  .about-text h1 {
    font-size: 10vw;
  }

  .projects h1 {
    font-size: 18vw;
  }

  .projects h2 {
    font-size: 8vw;
  }

  .projects h4 {
    font-size: 4vw;
  }

  .projects h5 {
    font-size: 3vw;
  }

  .view-more {
    height: 48px;
    width: 100%;
    margin-right: 0%;
    align-items: center;
    justify-content: center;
  }

  .footer-icons {
    width: 80%;
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }

  .footer p {
    width: 100%;
    text-align: center;
    font-size: 5vw;
  }

  .nav-links a {
    font-size: 10vw;
  }

  .main-contact h1 {
    font-size: 18vw;
  }

  .form-head {
    font-size: 6vw;
  }

  .input {
    font-size: 0.75rem;
  }
}
